/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-p8rib6mz4c] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-p8rib6mz4c] {
  color: #0077cc;
}

.btn-primary[b-p8rib6mz4c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-p8rib6mz4c], .nav-pills .show > .nav-link[b-p8rib6mz4c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-p8rib6mz4c] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-p8rib6mz4c] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-p8rib6mz4c] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-p8rib6mz4c] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-p8rib6mz4c] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}




.navbar-toggler[b-p8rib6mz4c] {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

    .navbar-toggler[b-p8rib6mz4c],
    .navbar-toggler:focus[b-p8rib6mz4c],
    .navbar-toggler:active[b-p8rib6mz4c],
    .navbar-toggler-icon:focus[b-p8rib6mz4c] {
        outline: none;
        box-shadow: none;
        border: 0;
        position: relative;
    }

        .navbar-toggler span[b-p8rib6mz4c] {
            margin: 0;
            padding: 0;
        }

.toggler-icon[b-p8rib6mz4c] {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar[b-p8rib6mz4c] {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar[b-p8rib6mz4c] {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar[b-p8rib6mz4c] {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar[b-p8rib6mz4c] {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar[b-p8rib6mz4c] {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar[b-p8rib6mz4c] {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar[b-p8rib6mz4c] {
    top: inherit;
    transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon[b-p8rib6mz4c] {
    background: linear-gradient( 263deg, #193f74 0%, #ed6a32 100% );