html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(to top, #193f74, #1b4f88, #1b609c, #1971b0, #1483c4, #178ece, #1c98d7, #21a3e1, #2fa8e3, #3aaee5, #45b3e7, #4fb8e9);
}

td {
    border-top: 1px solid black;
    align-items: center;
}



.edit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100%;
}
.edit-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

select{
    width:100%;
    height:60%;
}
.navbar-brand img{
    max-width: 367px;
}

.product-count {
    background-color: white;
    box-shadow: 10px 5px 5px #193f74;
    border-radius: 25px;
    width:fit-content;
    padding: 1rem;
    margin: 0 auto;
}
.product-table{
    max-width:800px;
    margin: 0 auto;
    justify-content: space-evenly;
}