html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td {
    border: dotted #f3713c 1px;
    padding: 10px;
    align-items: center;
}
th{
    padding:10px;
}

.edit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100%;
}
.edit-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

select{
    width:100%;
    height:60%;
}
.navbar-brand img{
    max-width: 367px;
}

.count-table{
    max-width:850px;
    margin: 0 auto;
    min-height: 1000px;
    max-height: 1200px;
}